@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Geral */
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body{
    min-height: 100ch;
    background-color: darkgray;
}

*{
    margin: 0;
}

/* Fim Geral */

/* Cabeçalho */
header{
    background-color: black;
    font-family: var(--font2);
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 4vw;
}

header h1{
    font-variant: small-caps;
}

header p{
    font-size: 3vw;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Fim Cabeçalho */

/* Main */
main{
    background-color: white;
}

main section{
    font-family: var(--font3);
    padding: 30px 0;
    margin-left: 50px;
    font-size: 3vw;
}
/* Fim Main */

/* Footer */
footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}
/* Fim Footer */

/* Imagens */

.parallax{
    position: relative;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    height: 50vw;
    box-shadow: inset 0px 5px 8px rgba(0, 0, 0, 0.367);
}
#pImg{
    background-image: url('imagens/background001.jpg');
}

#sImg{
    background-image: url('imagens/background002.jpg');
}

.back{
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.337);
    width: max-content;
    margin-top: 7%;
    padding: 0;
}

/* Fim Imagens */